.tabs {
    width: 80%;
    max-width: 800px;
    background-color: #1a56db;
    border-radius: 10px;
    overflow: hidden;
}

.tab-header {
    display: flex;
    background-color: #1a56db;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #0056b3;
}

.tab.active {
    background-color: #003399;
    color: #ffffff;
}

.tab-content {
    padding: 40px;
    background-color: #1a56db;
    color: white;
    animation: fadeIn 0.5s ease;
    text-align: center;
}

.tab-content .content {
    display: none;
}

.tab-content .content.active {
    display: block;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

button {
    padding: 10px 20px;
    /* border: 2px solid white; */
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
